body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 9999;
  box-sizing: border-box; /* 뷰포트 넘침 방지 */
}

header h1 {
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  overflow-x: hidden;
}
