body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 9999;
  box-sizing: border-box; /* 뷰포트 넘침 방지 */
}

header h1 {
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  overflow-x: hidden;
}

.link-button {
  display: inline-block;
  padding: 0.5rem 1.0rem;
  color: #fff;
  background-color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.link-button:hover {
  background-color: #0056b3;
  cursor: hand;
}